name: 'Deploy to fly'
description: 'Deploys a published image to fly'
inputs:
  environment:
    required: true
    description: "Which environment to deploy to"
  image:
    required: true
    description: "Which image to deploy"
  version:
    required: true
    description: "Which version to deploy"
  fly_token:
    required: true
    description: "Access token for flyctl"
  slack_webhook_url:
    required: true
    description: "Webhook URL for slack"
  gh_token:
    description: 'The GitHub token to use for the API requests'
    required: true

runs:
  using: 'composite'
  steps:
    - id: config_path
      shell: bash
      run: |
        config_path=${{ github.workspace }}/fly-${{ inputs.environment}}.toml

        if [ ! -f "$config_path" ]; then
          echo "Could not find config file at $config_path"
          exit 1
        fi

        echo "path=$config_path" >> $GITHUB_OUTPUT

    - name: Deploy flyctl
      shell: bash
      run: |
        docker run \
          --rm \
          -v ${{ steps.config_path.outputs.path}}:/workspace/fly.toml \
          --workdir /workspace \
          ghcr.io/superfly/flyctl:latest \
          deploy \
            -t ${{ inputs.fly_token }} \
            -c /workspace/fly.toml \
            -i ${{ inputs.image }} \
            --yes \
            --verbose
