name: Merge

on:
  merge_group:
  # Required to make status check pass.
  pull_request:
    branches:
      - main

jobs:
  log:
    runs-on: ubuntu-latest
    steps:
      - name: Log event
        run: |
          echo "json: ${{ github }}"
          printenv
  deploy_staging:
    if: ${{ github.event_name == 'merge_group' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Deploy to staging
        run: |
          echo "Deploying to staging"
          # Your deployment script here
      - name: Notify (scuccessful deployment)
        if: success()
        uses: ./.github/actions/slack
        with:
          message: ":tada: Deployed to staging :white_check_mark: successfully!"
      - name: Notify (failed deployment)
        if: failure()
        uses: ./.github/actions/slack
        with:
          message: ":fail: Failed to deploy to staging :red_flag: successfully!"
