name: Merge

on:
  merge_group:
  # Required to make status check pass.
  pull_request:
    branches:
      - main

env:
  environment: staging

jobs:
  deploy_staging:
    if: ${{ github.event_name == 'merge_group' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: build
        uses: ./.github/actions/build
        with:
          push: true
          username: ${{ github.actor}}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy to (${{ env.environment }})
        uses: ./.github/actions/deploy
        with:
          config: fly-${{ env.environment }}.toml
          token: ${{ secrets.FLY_TOKEN }}
          image: ${{ steps.build.outputs.tags }}
      - id: pr_url
        shell: bash
        run: |
          echo "url=${{ github.repositoryUrl }}/pull/${{ github.event.pull_request.number }}" >> $GITHUB_OUTPUT
      - name: Notify (scuccessful deployment)
        if: success()
        uses: ./.github/actions/slack
        with:
          message: ":tada: Successfully deployed to ${{ env.environment }} :white_check_mark:! <${{ steps.pr_url.outputs.url }}>"
          webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
      - name: Notify (failed deployment)
        if: failure()
        uses: ./.github/actions/slack
        with:
          message: ":fail: Failed to deploy to ${{ env.environment }} :red_flag:! <${{ steps.pr_url.outputs.url }}>"
          webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
