name: Release

on:
  release:
    types: [published]

defaults:
  run:
    shell: bash

jobs:
  release:
    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.build_container.outputs.image_version }}

    steps:
      - name: Context (github)
        run: |
          cat <<EOF
          ${{toJson(github)}}
          EOF

      - uses: actions/checkout@v4

      - name: Build container
        id: build_container
        uses: ./.github/actions/build
        with:
          # We are not going to push the image until we are ready to enable this release
          # pipeline and disable the circle CI build/push
          push: true
          username: ${{ github.actor}}
          password: ${{ secrets.GITHUB_TOKEN }}
          node_env: production

