name: Test
on:
  pull_request:
  merge_group:
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/context
  test:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        group: [1, 2, 3, 4, 5]

    steps:
    - uses: actions/checkout@v4
    - id: build
      uses: ./.github/actions/build
      with:
        node_env: development
    - name: Test
      uses: ./.github/actions/run
      with:
        image: ${{ steps.build.outputs.image_version }}
        run: |
          echo "Testing"
          npm ci
          npm run test -- --shard=${{ matrix.group }}/5
  lint:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - id: build
      uses: ./.github/actions/build
      with:
        node_env: development
    - name: Lint
      uses: ./.github/actions/run
      with:
        image: ${{ steps.build.outputs.image_version }}
        run: |
          echo "Linting"
          npm ci
          npm run lint

